@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,
    rgba(56, 189, 248, 0.15),
    rgba(56, 189, 248,0.1) 36%,
    rgba(56, 189, 248, 0.05) 55%,
    rgba(56, 248, 188, .05));
}


* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.typing-animation h1{
  font-size: 12px;
  overflow: hidden; /* hide overflowing text */
  white-space: nowrap; /* keep text in one line */
  width: 0; /* start with zero width */
  animation: typing 2s steps(40, end) forwards; /* start the animation */
}

@keyframes typing {
  0% {
    width: 0; /* start with zero width */
  }
  100% {
    width: 100%; /* end with full width */
  }
}



.btn{
  color: black !important;
}