@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,
    rgba(56, 189, 248, 0.15),
    rgba(56, 189, 248,0.1) 36%,
    rgba(56, 189, 248, 0.05) 55%,
    rgba(56, 248, 188, .05));
}


* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.typing-animation h1{
  line-height: 1.5;
  font-size: 12px;
  overflow: hidden; /* hide overflowing text */
  white-space: nowrap; /* keep text in one line */
  width: 0; /* start with zero width */
  animation: typing 2s steps(40, end) forwards; /* start the animation */
}

@keyframes typing {
  0% {
    width: 0; /* start with zero width */
  }
  100% {
    width: 100%; /* end with full width */
  }
}



.btn{
  color: black !important;
}

.code{
  font-size: 12px;
  font-family: courier, monospace;
}

input[type="text"]
{
    font-size:12px;
    font-family: courier, monospace;
    outline: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    box-shadow: none;
}

.message{
  outline: none;
  border-color: transparent;
  box-shadow: none;
  font-size: 12px;
  font-family: courier, monospace;
  line-height: 1.5;
}



#show_bg_1 {
  background-image:
  linear-gradient(to bottom, rgba(56, 189, 248, 0.12), rgba(52, 211, 153, 0.47)),
  url('../../public/pic1.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}

#show_bg_2 {
  background-image:
  linear-gradient(to bottom, rgba(56, 189, 248, 0.12), rgba(52, 211, 153, 0.47)),
  url('../../public/pic3.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}

#show_bg_3 {
  background-image:
  linear-gradient(to bottom, rgba(56, 189, 248, 0.12), rgba(52, 211, 153, 0.47)),
  url('../../public/pic4.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}

#show_bg_4 {
  background-image:
  linear-gradient(to bottom, rgba(56, 189, 248, 0.12), rgba(52, 211, 153, 0.47)),
  url('../../public/pic5.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}


#show_bg_5 {
  background-image:
  linear-gradient(to bottom, rgba(56, 189, 248, 0.12), rgba(52, 211, 153, 0.47)),
  url('../../public/pic6.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  color: white;
}


